RestAPI/Validation Files/FlightXSD.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="FlightDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Legs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Leg" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Origin" type="xs:string"/>
                    <xs:element name="Destination" type="xs:string"/>
                    <xs:element name="Date" type="xs:dateTime"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Adults" type="xs:int"/>
        <xs:element name="Currency" type="xs:string"/>
        <xs:element name="Locale" type="xs:string"/>
        <xs:element name="Market" type="xs:string"/>
        <xs:element name="CabinClass" type="xs:string"/>
        <xs:element name="CountryCode" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>