RestAPI/Validation Files/FlightRNG.xml

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema-datatypes"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

  <start>
    <element name="FlightDetails">
      <element name="Legs">
        <oneOrMore>
          <element name="Leg">
            <element name="Origin">
              <text/>
            </element>
            <element name="Destination">
              <text/>
            </element>
            <element name="Date">
              <data type="dateTime"/>
            </element>
          </element>
        </oneOrMore>
      </element>

      <element name="Adults">
        <data type="int"/>
      </element>
      <element name="Currency">
        <text/>
      </element>
      <element name="Locale">
        <text/>
      </element>
      <element name="Market">
        <text/>
      </element>
      <element name="CabinClass">
        <text/>
      </element>
      <element name="CountryCode">
        <text/>
      </element>
    </element>
  </start>
</grammar>